html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    scrollbar-width: none;
}

#greetingDiv{
    height: 100vh;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#greeting{
    color: grey;
    font-size: 16.35vw;
    text-align: center;
    position: relative;
}

#generallyDiv{
    height: 100vh;
    position: relative;
    margin: 0%;
    align-content: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    display: grid;
    row-gap: 0.15vw;
    scroll-snap-align: center;
}

#generallyHeading{
    color: grey;
    font-size: 4.95vw;
    line-height: 75%;
    text-align: center;
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
}

#generallyBody{
    margin: 0%;
    align-items: center;
    font-size: 3vw;
    grid-row-start: 2;
    grid-row-end: 3;
}

#generally1{
    color: grey;
    font-size: 2.6955vh;
    font-weight: bolder;
    line-height: 99%;
    margin-top: 0.675%;
    margin-bottom: 1.5%;
    margin-left: 3.75vw;
    margin-right: 3.75vw;
    text-align: right;
    display: block;
}

#generally2{
    color: grey;
    font-size: 2.6955vh;
    font-weight: bolder;
    line-height: 99%;
    margin-top: 0.675%;
    margin-bottom: 1.5%;
    margin-left: 3.75vw;
    margin-right: 3.75vw;
    display: block;
}

#generally3{
    color: grey;
    font-size: 2.6955vh;
    font-weight: bolder;
    line-height: 99%;
    margin-top: 0.675%;
    margin-bottom: 1.5%;
    margin-left: 3.75vw;
    margin-right: 3.75vw;
    text-align: right;
    display: block;
}

.itemLinks{
    text-decoration-line: none;
}

.itemLabels{
    position: relative;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.55vw;
    font-weight: bolder;
    margin-bottom: 0%;
}

#itemGetCV{
    position: relative;
    width: 10.5vw;
    margin-left: 37.5vw;
    margin-right: 37.5vw;
    padding-left: 1.5vw;
    padding-right: 0vw;
    align-items: center;
    display: block;
    grid-row-start: 3;
    grid-row-end: 4;
}

